.container-fluid{
    background-color: beige;
    background-repeat: no-repeat;
    background-size: cover; 
}  
header{
    font:  60px 'Satisfy';
    color: rgb(3, 16, 53);
    text-align: center; 
}

#mainNavBar li {

    display: inline-block;
    margin: 0;
    margin-right: 39px;
    
    }
#mainNavBar a{
    text-align: center;
    font-size: 17px;
    font: 18px 'Hind';
}
h1{
    text-align: center;
    font: bold 50px 'Akronim';
}
h4{
    text-align: center;
    font: 40px 'Hind';
    color: rgb(146, 145, 145);
}
p{
    text-align: center;
    font: 19px 'Hind';
}
@media only screen and (max-width:812px){
    
    .container-fluid{
        background-color: floralwhite;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
    }
    header{
        font:  30px 'Satisfy';
        color: rgb(3, 16, 53);
        text-align: center; 
    }
    #mainNavBar a{
        text-align: center;
        font-size: 10px;
        font: 10px 'Hind';
    }
    h1{
        text-align: center;
        font: bold 30px 'Akronim';
    }
    h4{
    
        text-align: center;
        font: bold 20px 'Hind';
        color: rgb(146, 145, 145);
    }
    p{
    
        text-align: center;
        font: 15px 'Hind';
        color: rgb(177, 153, 122);
    }
    
    #mainNavBar li {

        display: block;
        margin: 0;
        margin-right: auto;
        
        }
}
